input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main
{
    background-color: black;
    color: white;
}

.menus
{
    position: relative;
    background: linear-gradient(0deg, rgba(17, 54, 11, 1) 0%, rgba(28, 87, 53, 1) 48%, rgba(28, 92, 91, 1) 100%);
    text-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    text-align: center;
    

    max-width: 500px;
    margin-top: 100px;
    margin-left: auto; margin-right: auto;
    padding: 25px;
    border-radius: 5%;
}
.section_menus
{
    display: flex;
    justify-content: center;
}

.menus_void
{
    position: relative;
    text-align: center;
    

    max-width: 500px;
    margin-top: 100px;
    margin-left: auto; margin-right: auto;
    padding: 25px;
    border-radius: 5%;
}


.list
{
    position: relative;
    background: linear-gradient(0deg, rgba(17, 54, 11, 1) 0%, rgba(28, 87, 53, 1) 60%);

    text-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    text-align: center;
    border: 1px solid black;
    
    


    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30%;
}

.list_void
{
    position: relative;

    text-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    text-align: center;
    border: 1px solid black;
    


    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30%;
}

.button
{
    position: relative;
    background: #195210;
    background: linear-gradient(358deg, rgba(25, 82, 16, 1) 0%, rgba(36, 115, 69, 1) 57%);
    color: white;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    text-align: center;

    margin: 25px;
    padding: 10px;    
    border-radius: 50px;

    outline: none; border: none; 

    transition: background-color 0.5s ease;

    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);


}
.button:hover
{
    padding: 15px;
    font-size: 100%;
}
.button:active
{
    transform: scale(0.95);
    transition: transform 0.1s ease;
}


/* Стиль для выпадающего меню */
.select
{
    background: linear-gradient(358deg, rgba(25, 82, 16, 1) 0%, rgba(36, 115, 69, 1) 57%);
    color: #2c3e50;
    border: none;
    padding: 10px 20px;
}
.select:hover 
{
    transform: scale(1.02);
}
#select:active {
    transform: scale(0.98);
}