.center
{
    text-align: center;
}
.center:active
{
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.link
{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 27px;
    font-weight: 600;

    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover
{
    transform: scale(1.1); 
}

.result
{
    font-size: 50px;

}

.title
{
    justify-self: center;
    font-size: 50px;
}

.result
{
    position: static; 
    display: inline-block;
}